<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>UpdateStatusServlet</servlet-name>
		<servlet-class>twitfeedbot.UpdateStatusServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateStatusServlet</servlet-name>
		<url-pattern>/cron/UpdateStatusServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BotherSomeoneServlet</servlet-name>
		<servlet-class>twitfeedbot.BotherSomeoneServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BotherSomeoneServlet</servlet-name>
		<url-pattern>/cron/BotherSomeoneServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RespondServlet</servlet-name>
		<servlet-class>twitfeedbot.RespondServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RespondServlet</servlet-name>
		<url-pattern>/cron/RespondServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
        <security-constraint>
        <web-resource-collection>
          <web-resource-name>cron</web-resource-name>
          <url-pattern>/cron/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
          <role-name>admin</role-name>
        </auth-constraint>
        </security-constraint>
        <mime-mapping>
         <extension>html</extension>
         <mime-type>text/html; charset=UTF-8</mime-type>
        </mime-mapping>
</web-app>
